body {
    background-color: lightblue;
    color: #bb1e1e;
}
#weekly-tasks {
    padding: 10px;
}

#goal-btn {
    margin: 5px;
}

#metric-converter {

    padding: 10px;

}

#convert-btn {

    margin: 5px;

}

#conversion-result {

    margin-top: 10px;

}